@mixin page-container() {
  min-height: 85vh;
  padding-top: 60px;
  padding-bottom: 10px;
}

@mixin mobile() {
  @media only screen and (max-width: 767px) {
      @content;
  }
}

@mixin desktop() {
  @media only screen and (min-width: 768px) {
      @content;
  }
}
