.box {
  display: inline-block;
  margin: 0 2px;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 2px;
  border-style: solid;
  border-width: 2px;
}

.box-attended {
  background-color: rgba(76, 175, 80, 0.4);
  border-color: rgb(76, 175, 80);
}

.box-lost {
  background-color: rgba(255, 82, 82, 0.4);
  border-color: rgb(255, 82, 82);
}

.box-incoming {
  background-color: rgba(26, 117, 255, 0.4);
  border-color: rgb(26, 117, 255);
}

.box-outgoing {
  background-color: rgba(255, 0, 191, 0.4);
  border-color: rgb(255, 0, 191);
}

.box-rotation {
  animation-name: 'box-rotation';
  animation-duration: 500ms;
  animation-timing-function: ease-out;
}

@keyframes box-rotation {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 90deg;
  }
}
