@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Roboto+Mono:wght@400;700&display=swap');

$body-font-family: 'Open Sans', sans-serif;

.font-monotype {
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 0.15em;
}
